/*====================================================
BOTTOM NAVIGATION
====================================================*/

.bottom-nav{

    position:fixed;

    left:0;

    right:0;

    bottom:0;

    background:#ffffff;

    display:flex;

    justify-content:space-around;

    padding:12px 0;

    border-top:1px solid #EAEAEA;

    box-shadow:0 -4px 18px rgba(0,0,0,.08);

    z-index:999;

}

.nav-item{

    display:flex;

    flex-direction:column;

    align-items:center;

    color:#808080;

    cursor:pointer;

    transition:.25s;

}

.nav-item.active{

    color:var(--primary);

}

.nav-item .material-symbols-rounded{

    font-size:26px;

}

.nav-item small{

    margin-top:4px;

    font-size:12px;

}